html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 1rem;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
}

.gain-loss.gain {
  color: green;
}
.gain-loss.loss {
  color: red;
}
.gain-loss.unrealized {
  font-style: italic;
  filter: brightness(0.45);
}

.actionHeader {
  cursor: pointer;
}
.actionHeader:hover {
  text-decoration: underline;
}

tr.row-pending td {
  font-style: italic;
  color: #ada;
}

tr.row-disposed td {
  color: #999;
}
