
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    padding: 0.25rem 0;
    font-size: 14px;
    font-weight: 400;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;
    border-width: 1px 0;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    padding: 0.25rem 0;
    font-size: 12px;
    font-weight: 700;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;
    border-width: 1px 0;
}
.p-inputtext {
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 2px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;
    padding: 0.5rem 0.75rem;
}
.p-dropdown {
  border-radius: 2px;
}

.bucketTabs.p-tabview  {
  margin-top: 0.4rem;
}
.bucketTabs.p-tabview .p-tabview-nav li {
  margin-right: 0.6rem;
}
.bucketTabs.p-tabview .p-tabview-nav li a.p-tabview-nav-link {
  padding: 0.5rem 0.75rem;
}
